@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap" rel="stylesheet');

* {
  font-family: 'Open Sans Condensed', sans-serif;
}
body {
  height: 100vh;
  width: 100vw;
}

.nav-container {
  background-image: url('../components/images/navbarimg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent !important;
  height: 350px;
  margin-bottom: 50px;
  margin-top: 5px;
}

.navbar-brand {
  display: flex;
  align-items: center;
}
.navbar-brand > img {
  padding: 7px 14px;
}

button {
  background-color: coral !important;
  border: white !important;
}

.title {
  font-size: 30px;
}

.author {
  display: flex;
  font-size: 12px;
  align-items: flex-end;
  margin-left: 5px;
}

.article {
  margin-top: 20px;
  font-size: 18px;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid coral;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.name {
  padding-left: 10px;
}

.article-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  width: 700px;
}

.line {
  width: 700px;
}

.logo {
  height: 55px;
}

img {
  width: 50px;
  height: 50px;
}

.signup {
  margin-top: 10px;
}

.post {
  height: auto;
  width: 75%;
  border: 1px solid gray;
  padding: 50px;
}
